main {
  margin: auto;
  width: 500px;
}
form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

form input {
  margin-bottom: 10px;
}
.btn {
  width: 80px;
}
#ingredient {
  width: 60%;
  float: left;
}
#add-ingredient {
  width: 30%;
  float: right;
}
